extends layout

block content
    .container
        h2=title
        form.form(action="/account" method="POST" enctype='application/xwww-form-urlencoded')
            .mb-3
                label(for="name" class="form-label") Name
                input(class="form-control" type="text" name="name")
            .mb-3
                label(for="email" class="form-label") Email Address
                input(class="form-control" type="email" name="email")
            button(type="submit" class="btn btn-primary" style="background-color:green;border-color:green;color:white") Update