extends layout

block content
    .container
        .mb-3.card
            img.card-imgtop(src=`/uploads/${product.photo || 'product.png'}`)
            .card-body
                h5.fs-0 #{product.name}
                p.mb-0= product.price

        
                         