mixin loginForm()
    form.form(action='/login' method='POST' enctype='application/x-wwwform-urlencoded')
        .mb-3
            label(for="email" class="form-label") Email Address
            p
                input(class="form-control" type="email" name="email")
        .mb-3
            label(for="password" class="form-label") Password
            p
                input(class="form-control" type="password" name="password")
        button(type="submit" class="btn btn-primary" style="background-color:green;border-color:green;color:white") Log in